<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @power.name %>
</p>

<p>
  <b>Source:</b>
  <%= @power.source %>
</p>

<p>
  <b>Power type:</b>
  <%= @power.power_type %>
</p>

<p>
  <b>Level:</b>
  <%= @power.level %>
</p>

<p>
  <b>Flavor text:</b>
  <%= @power.flavor_text %>
</p>

<p>
  <b>Usage:</b>
  <%= @power.usage %>
</p>

<p>
  <b>Action type:</b>
  <%= @power.action_type %>
</p>

<p>
  <b>Trigger:</b>
  <%= @power.trigger %>
</p>

<p>
  <b>Attack type:</b>
  <%= @power.attack_type %>
</p>

<p>
  <b>Attack range:</b>
  <%= @power.attack_range %>
</p>

<p>
  <b>Attack range value:</b>
  <%= @power.attack_range_value %>
</p>

<p>
  <b>Area range value:</b>
  <%= @power.area_range_value %>
</p>

<p>
  <b>Prerequisite:</b>
  <%= @power.prerequisite %>
</p>

<p>
  <b>Requirement:</b>
  <%= @power.requirement %>
</p>

<p>
  <b>Target:</b>
  <%= @power.target %>
</p>

<p>
  <b>Attack ability:</b>
  <%= @power.attack_ability %>
</p>

<p>
  <b>Attack modifier:</b>
  <%= @power.attack_modifier %>
</p>

<p>
  <b>Attack defense:</b>
  <%= @power.defense %>
</p>

<p>
  <b>Hit:</b>
  <%= @power.hit %>
</p>

<p>
  <b>Miss:</b>
  <%= @power.miss %>
</p>

<p>
  <b>Effect:</b>
  <%= @power.effect %>
</p>

<p>
  <b>Sustain action type:</b>
  <%= @power.sustain_action_type %>
</p>

<p>
  <b>Sustain effect:</b>
  <%= @power.sustain_effect %>
</p>

<p>
  <b>Power special:</b>
  <%= @power.power_special %>
</p>



<%= link_to 'Edit', edit_power_path(@power) %> |
<%= link_to 'Back', powers_path %>
