<%= form_for(@monster) do |f| %>
  <% if @monster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monster.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
      <% @monster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= f.label :name %></b><br />
    <%= f.text_field :name, :size => 42 %>
  </div>
  <div class="field">
    <b><%= f.label :description %></b><br />
    <%= f.text_area :description %>
<br /><br />
  <table cellpadding="5">
    <tr>
      <th><%= f.label :level %> </th>
      <th><%= f.label :primary_role %> </th>
    </tr>
    <tr>
      <td><%= f.text_field :level, :size => 3 %> </td>
      <td><%= f.collection_select :primary_role_id, PrimaryRole.all, :id, :name %> </td>
    </tr>
  </table>
<br />
  <table cellpadding="5">
    <tr>
      <th><%= f.label :size %> </th>
      <th><%= f.label :origin %> </th>
      <th><%= f.label :type %> </th>
      <th><%= f.label :race %> </th>
    </tr>
    <tr>
      <td><%= f.select :size, Monster.sizes %></td>
      <td><%= f.collection_select :origin_id, Origin.all, :id, :name %> </td>
      <td><%= f.collection_select :type_id, Type.all, :id, :name %> </td>
      <td><%= f.collection_select :race_id, Race.all, :id, :name %> </td>
    </tr>
  </table>
<br />
<div class="field">
    Add Keyword:
    <select id="keywords">
      <option></option>
      <%= options_from_collection_for_select Keyword.all, :id, :name %>
    </select><br />
    <%= f.label :keywords %> : 
    <% @monster.keywords.each do |keyword| %>
	  <span class="keyword">
	  <%= keyword.name %>
	  <input type="hidden" name="keywords[<%= keyword.id %>]" value="1">
	  </span>
    <% end %>
  </div>
<br />
  <div class="field">
    <b><%= f.label :hit_points %> </b>
    <%= f.text_field :hit_points, :size => 8 %>
  </div>
  <div class="field">
    <b><%= f.label :initiave %> </b>
    <%= f.text_field :initiative, :size => 3 %>
  </div>
  <table cellpadding="5">
    <tr align="left">
      <th><%= f.label :armor_class %> </th>
      <th><%= f.label :fortitude %> </th>
      <th><%= f.label :reflex %> </th>
      <th><%= f.label :will %> </th>
    </tr>
    <tr>
      <td><%= f.text_field :armor_class, :size => 3 %> </td>
      <td><%= f.text_field :fortitude, :size => 3 %> </td>
      <td><%= f.text_field :reflex, :size => 3 %> </td>
      <td><%= f.text_field :will, :size => 3 %> </td>
    </tr>
  </table>
<br />
  <div class="field">
    <b><%= f.label :perception %> </b>
    <%= f.text_field :perception, :size => 3 %>
  </div>
  <div class="field">
    <b><%= f.label :speed %> </b>
    <%= f.text_field :speed, :size => 3 %>
  </div>
  <div class="field">
    <%= f.label :movement_type %><br />
    <%= f.select :movement_type, Monster.movement_types %>
  </div>
  <div class="field">
    <%= f.label :special_sense %><br />
    <%= f.select :special_sense, Monster.special_senses %>
  </div>
  <table cellpadding="5">
    <tr align="left">
      <th><%= f.label :strength %> </th>
      <th><%= f.label :dexterity %> </th>
      <th><%= f.label :wisdom %> </th>
    </tr>
    <tr>
      <td><%= f.text_field :strength, :size => 3 %> </td>
      <td><%= f.text_field :dexterity, :size => 3 %> </td>
      <td><%= f.text_field :wisdom, :size => 3 %> </td>
    </tr>
    <tr align="left">
      <th><%= f.label :constitution %> </th>
      <th><%= f.label :intelligence %> </th>
      <th><%= f.label :charisma %> </th>
    </tr>
    <tr>
      <td><%= f.text_field :constitution, :size => 3 %> </td>
      <td><%= f.text_field :intelligence, :size => 3 %> </td>
      <td><%= f.text_field :charisma, :size => 3 %> </td>
    </tr>
  </table>
<br />
  <div class="field">
    <b><%= f.label :alignment %></b><br />
    <%= f.select :alignment, Monster.alignments %>
  </div>
  <div class="field">
    <b><%= f.label :languages %></b><br />
    <%= f.select :languages, Monster.languages %>
  </div>
  <div class="field">
    <b><%= f.label :combat_notes %></b><br />
    <%= f.text_area :combat_notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript">
  $(function() {
    $("span.keyword").live("click", function(){
      $(this).remove();
    });
    $("#keywords").change(function(){
    	var str = '<span class="keyword">';
    	var selected = $("#keywords option:selected");
    	if (!selected.val()) return;
    	str += selected.text();
    	str += '<input type="hidden" name="keywords[';
    	str += selected.val();
    	str += ']" value="1"></span>';
    	$(this).parent().append(str);
    });
  });
</script>