<h1>Monster Index</h1>

<%= link_to 'New Monster', new_monster_path %>  

<% @monsters.each do |monster| %>

<p><h3><%= monster.name %></h3></p>
<p>Level <%= monster.level %>
    <%= link_to monster.primary_role.name, monster.primary_role %></p>
<p><%= monster.size %>
    <%= link_to monster.origin.name, monster.origin %>
    <%= link_to monster.type.name, monster.type %></p>
<p>Hit Points <%= monster.hit_points %>,
Init Bonus <%= monster.initiative %></p>
<p>AC <%= monster.armor_class %>,
Fort <%= monster.fortitude %>,
Ref <%= monster.reflex %>,
Will <%= monster.will %></p>

    <%= link_to 'Details', monster %>
    <%= link_to 'Edit', edit_monster_path(monster) %>
    <%= link_to 'Delete', monster, :confirm => 'Are you sure?', :method => :delete %>
<br />
__________________________________________
<br />
<% end %>

<br />

<%= link_to 'New Monster', new_monster_path %>
