<p id="notice"><%= notice %></p>

<p>
  <b><%= @monster.name %></b>
</p>

<p>
  <%= @monster.description %>
</p>

<p>
  Level <%= @monster.level %> 
  <%= link_to @monster.primary_role.name, @monster.primary_role %>
</p>

<p>
  <%= @monster.size %> 
  <%= link_to @monster.origin.name, @monster.origin %> 
  <%= link_to @monster.type.name, @monster.type %> 
  <%= link_to @monster.race.name, @monster.race %>
  <% @monster.keywords.each do |keyword| %>
	  (<span class="keyword"><%= link_to keyword.name, keyword %></span>)
	<% end %>
</p>

<p>
  <b>Hit points:</b> <%= @monster.hit_points %> / 
  Bloodied: <%= @monster.bloodied %>
</p>

<p>
  <b>Defences</b>
<br />
  AC: <%= @monster.armor_class %>
<br />
  Fort: <%= @monster.fortitude %>
<br />
  Ref: <%= @monster.reflex %>
<br />
  Will: <%= @monster.will %>
</p>

<p>
  <b>Initiative:</b>
  <%= @monster.initiative %>
</p>

<p>
  <b>Perception:</b>
  <%= @monster.perception %>
</p>

<p>
  <b>Speed:</b>
  <%= @monster.speed %>
</p>
<% if params[:special_senses] %>
	<p>
  	<b>Special Senses:</b>
  	<%= @monster.special_sense %>
	</p>
<% end %>
<p>
  <b>Ability Scores</b>
<br />
  STR: <%= @monster.strength %> (<%= @monster.modifier(:strength) %>) 
  DEX: <%= @monster.dexterity %> (<%= @monster.modifier(:dexterity) %>) 
  WIS: <%= @monster.wisdom %> (<%= @monster.modifier(:wisdom) %>) 
<br />
  CON: <%= @monster.constitution %> (<%= @monster.modifier(:constitution) %>) 
  INT: <%= @monster.intelligence %> (<%= @monster.modifier(:intelligence) %>) 
  CHA: <%= @monster.charisma %> (<%= @monster.modifier(:charisma) %>) 
<p>
	<b>Alignment: </b>
	<%= @monster.alignment %> 
	<b>Languages: </b>
	<%= @monster.languages %>
</p>
  <b><%= @monster.name.pluralize %> in Combat:</b>
  <%= @monster.combat_notes %>
</p>

<%= link_to 'Index', monsters_path %> |
<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Delete', @monster, :confirm => 'Are you sure?', :method => :delete %>

