<p id="notice"><%= notice %></p>

<p>
  <b><%= @monster.name %></b>
</p>

<p>
  <%= @monster.description %>
</p>

<p>
  Level <%= @monster.level %> 
  <%= link_to @monster.primary_role.name, @monster.primary_role %>
</p>

<p>
  <%= @monster.size %> 
  <%= link_to @monster.origin.name, @monster.origin %> 
  <%= link_to @monster.type.name, @monster.type %> 
  <%= link_to @monster.race.name, @monster.race %>
  <% @monster.keywords.each do |keyword| %>
	  <span>(<%= link_to keyword.name, keyword %>)</span>
	<% end %>
</p>

<p>
  <b>Hit points:</b> <%= @monster.hit_points %> / 
  Bloodied: <%= @monster.bloodied %>
</p>

<p>
  <b>Defences</b>
<br />
  AC: <%= @monster.armor_class %>
<br />
  Fort: <%= @monster.fortitude %>
<br />
  Ref: <%= @monster.reflex %>
<br />
  Will: <%= @monster.will %>
</p>

<p>
  <b>Initiative:</b>
  <%= @monster.initiative.to_signed_s %>
</p>

<p>
  <b>Perception:</b>
  <%= @monster.perception.to_signed_s %>
</p>

<p>
  <b>Speed:</b>
  <%= @monster.speed %>
</p>
<% if params[:special_senses] %>
	<p>
  	<b>Special Senses:</b>
  	<%= @monster.special_sense %>
	</p>
<% end %>
<p>
  <b>Ability Scores</b>
<br />
  STR: <%= stat @monster, :strength %>
  DEX: <%= stat @monster, :dexterity %>
  WIS: <%= stat @monster, :wisdom %> 
<br />
  CON: <%= stat @monster, :constitution %> 
  INT: <%= stat @monster, :intelligence %> 
  CHA: <%= stat @monster, :charisma %> 
</p>
<b>Skills</b>
<br />
<table>
	<% @monster.skills.each do |skill| %>
		<tr><td><%= skill.name.capitalize %>:</td><td><%= skill.score_or_default.to_signed_s %></td></tr>
	<% end %>
</table>
<p>
	<b>Alignment: </b>
	<%= @monster.alignment %> 
	<b>Languages: </b>
	<%= @monster.languages %>
</p>
<p>
  <b><%= @monster.name.pluralize %> in Combat:</b>
  <%= @monster.combat_notes %>
</p>

<%= link_to 'Index', monsters_path %> |
<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Copy', copy_monster_path(@monster) %> |
<%= link_to 'Delete', @monster, :confirm => 'Are you sure?', :method => :delete %>

