<h1>Encounter</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Monster</th>
    <th>HP</th>
    <th>Damage</th>
    <th></th>
    <th></th>
  </tr>

<% @creatures.each do |creature| %>
  <tr>
    <td><%= creature.name %></td>
    <td><%= link_to creature.monster.name, creature.monster %></td>
    <td><%= creature.hit_points %></td>
    <td><%= text_field_tag "damage[#{creature.id}]", "", :size => 5 %></td>
    <td><%= link_to 'Edit', edit_creature_path(creature) %></td>
    <td><%= link_to 'Destroy', creature, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
