<h1>Keywords Index</h1>

<%= link_to 'New Keyword', new_keyword_path %>

<% @keywords.each do |keyword| %>
<p><b><%= keyword.name %></b></p> 
<p><%= truncate keyword.description, :length => 50 %></p>
    <%= link_to 'Details', keyword %>
    <%= link_to 'Edit', edit_keyword_path(keyword) %>
    <%= link_to 'Delete', keyword, :confirm => 'Are you sure?', :method => :delete %>
<br />
__________________________________________
<% end %>
<br />

<%= link_to 'New Keyword', new_keyword_path %>
